<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" />
  <arg name="load_gripper" default="false" />
  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

<!-- Launch netft_driver -->
  <include file="$(find netft_control)/launch/netft_ros_driver.launch">
    <arg name="rate" value="100" />
  </include>

  <rosparam>
    ft_sensor_controller:
      type: force_torque_sensor_controller/ForceTorqueSensorController
  </rosparam>
  <!-- load controller -->
  <node name="robot_controllers" pkg="controller_manager" type="spawner" output="$(arg OUTPUT)" args="ft_sensor_controller"/>

  <rosparam command="load" file="$(find franka_controllers)/config/franka_controllers.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
     respawn="false" output="screen"  args="force_controller"/>
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type = "rqt_reconfigure" required="false" />
</launch>
